{% extends 'index.html' %}
<!DOCTYPE HTML>
<html lang='es'>
	<head>
		<meta charset='UTF-8'>
		<title>Arduino Project Unerg</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300|Playfair+Display:400' onmousemove="" rel='stylesheet' type='text/css'/>
		<link rel='stylesheet' href='http://static.tumblr.com/pjglohe/2qinf00ga/estilos.min.css'>
	</head>
	<body background="/home/marcos/Documentos/tesis/django-arduino-proyect/tesis/tesis/static/admin/img/start.png">	
		<div class='page-wrap'>
			<header class='header'>
				<h1>Arduino Control Panel</h1>
					<div class='educachip'>
						<span>Realizado por </span>
						<a href='http://www.facebook.com/Makastin' target='_blank'>Marcos Castellanos</a>
					</div>
			</header>
		        <section class='content-wrap'>
		        	<div class='device'>
		        		<div class='device-name'>
		        			<h2> Dispositivo #1</h2>
		        		</div>
		        		<div class='forms'>
		        			<form class='transition button on'>
		        				<input type='button' value='ON'/>
		          			</form>
		          		</div>
		          		<div class='forms'>
		          			<form class='transition button off'>
		          				<input type='button' value='OFF'/>
		          			</form>
		          		</div>
		          	</div>
		          	<div class='device'>
		          		<div class='device-name'>
		          			<h2>Dispositivo #2</h2>
		          		</div>
		          		<div class='forms'>
		          			<form class='transition button on'>
		          				<input type='button' value='ON'/>
		          			</form>
		          		</div>
		          		<div class='forms'>
		          			<form class='transition button off'>
		          				<input type='button' value='OFF'/>
		         		 	</form>
		          		</div>
		          	</div>
		        </section>
        </div>
    </body>
</html>