<!DOCTYPE html>
{% load staticfiles %}
<!--<script type="text/javascript" src="{% static 'yawd-admin/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'yawd-admin/js/bootstrap.switch.js' %}"></script>
<script type="text/javascript" src="{% static 'yawd-admin/js/bootstrap.switch.min.js' %}"></script>
-->

<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Arduino Project</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/signin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/theme.css' %}">
    {% block css %}{% endblock %}
    
  </head>
  <body>

    <header>
      {% if user.is_authenticated %}
        <form class="required" method="post" action="/logout/">
          
          {% csrf_token %}
          
          <input type="hidden" name="next" value="/">
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "resumen" %}">Arduino Proyect Unerg</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li {% if "dispositivos" in request.path %} class="active" {% endif %}><a href="{% url "dispositivos" %}">Dispositivos</a></li>
                  <li {% if "tareas" in request.path %} class="active" {% endif %}><a href="{% url "tareas" %}">Programar Tareas</a></li>
                  <li><a>Bienvenido: {{user}}
                    <input type="submit" class="btn btn-sm btn-danger" value="Salir" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Menu -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-tabs">
                  <li {% if None in request.path %} class="active" {% endif %}><a href="{% url "resumen" %}">Resumen</a></li>                 
                </ul>
                <ul class="nav nav-tabs">
                  <li {% if "dispositivos" in request.path %} class="active" {% endif %}><a href="{% url "dispositivos" %}">Dispositivos</a></li>
                  <li {% if "tareas" in request.path %} class="active" {% endif %}><a href="{% url "tareas" %}">Programar Tareas</a></li>
                  <!-- <li {% if "estadisticas" in request.path %} class="active" {% endif %}><a href="{% url "estadisticas" %}">Estadisticas</a></li> -->
                  <li {% if "reportes" in request.path %} class="active" {% endif %}><a href="{% url "reportes" %}">Reportes</a></li>
                </ul>
                <ul class="nav nav-tabs">
                  <li {% if "configuraciones" in request.path %} class="active" {% endif %}><a href="{% url "configuraciones" %}">Configuraciones</a></li>
                  <li><a href="http://www.arduino.cc" target="new">Pagina Oficial Arduino</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- fin menu -->
          
          {% block content %}{% endblock %}

        </form>
      {% else %}
        <h1 class="log-in">Bienvenidos a Nuestro Arduino Project</h1>
        <form method="post" action="/login/" class="form-signin" role="form">
           {% csrf_token %}
            <h2 class="form-signin-heading">Ingrese sus Datos</h2>
            <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <input type="hidden" name="next" value="/">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
            {% block login %}
            
            {% endblock %}
        </form>
      {% endif %} 
    </header>
    <!-- que hace?
    <section id="contenido">
      
    </section>
    -->
    <script src="{% static 'admin/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>   
    <script src="{% static 'admin/js/bootstrap-datepicker.js' %}"></script>
    <script>
      !function ($) {
          $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
              $(this).find('em:first').toggleClass("glyphicon-minus");      
          }); 
          $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
      }(window.jQuery);

      $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
      })
      $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
      })
    </script>

    {% block js %}{% endblock %}


  </body>
</html>
