{% extends 'base.html' %}
{% load staticfiles %}


{% block js %}

    
    <script type="text/javascript">
        document.getElementById('ocultar').style.display = 'none';
        $('#id_tipo').change(function () {
                    var selected = $('#id_tipo option:selected').text();
                    $('#ocultar').toggle(selected == "tareas programadas");
                    $( "#id_fecha_ini" ).datepicker();
                    $( "#id_fecha_fin" ).datepicker();
                });

    </script>


{% endblock %}



{% block content %}
   <div class=" col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Reportes</h1>
      <div class="row placeholders">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">Selección de Tipo de Reporte</div>
              <div class="panel-body">
                    <div align="left">Dispositivos Disponibles<div align="center">Usuarios del Sistema<div align="right">Uso de Dispositivos</div></div></div>
                    <div>
                        <a href="/disponibles"><img src="{% static 'admin/dispositivos.png' %}" width="100" align="left"></a>
                        <a href="/usuarios"><img src="{% static 'admin/usuarios.png' %}" width="100" align="center"></a>
                        <a href="/usos"><img src="{% static 'admin/estadisticas.png' %}" width="100" align="right"></a>
                    </div>
                  
              </div> 
            </div>
          </div>
        </div>
      </div>

{% endblock %}
