{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block extrastyle %}
  
{% endblock %}

{% block extrahead %}
<script src="{% static 'fullcalendar-2.3.1/lib/jquery.min.js' %}"></script> 
<script src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script src="{% static 'js/highcharts/highcharts-3d.js' %}"></script>
<script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>   
<script src="{% static 'js/estadisticas_app.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
            <ul class="breadcrumb">
                <li><a href="/admin/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
                <li class="active">Estadisticas</li>
            </ul><br>{% endblock %}

{% block main-struct %}


      <header class="page-header">
        <h1>Estadisticas</h1>
      </header>

      
        

  <div class="container-fluid">          
      <div class="row-fluid show-grid">
          <div class="span6">
            <div id="chart1" style="height: 400px"></div>
          </div>

          <div class="span6">
            <div id="chart2" style="height: 400px"></div>
          </div>

          <div class="span12">
            <div id="chart3" style="height: 400px"></div>
          </div>
          
      </div>
  </div>

          
      
                
             
  












{% endblock %}


